doctype html

head
    block title

    block links
        link(rel="stylesheet" href=`styles/${ name }.css`)

    block scripts
        script(type="module" src=`scripts/${ name }.js`)
        script(nomodule src=`bundles/${ name }.js`)

body
    header
        h1 hello, world!

    main body of page

    footer
        p some footer text
