doctype html

head
    block title

    block links
        link(rel="stylesheet" href=`styles/${ name }.css`)

    block scripts
        script(type="module" src=`scripts/${ name }.js` defer)
        script(nomodule src=`bundles/${ name }.js`)

body
    header
        h1 hello, world!

    main body of page
        div(id="content")

    footer
        p some footer text
